.icons-sprite {
  background-image: url('../img/css/icons-sd18515d439.png');
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/bold/roboto-bold.eot");
  src: url("../fonts/roboto/bold/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/bold/roboto-bold.woff2") format("woff2"), url("../fonts/roboto/bold/roboto-bold.woff") format("woff"), url("../fonts/roboto/bold/roboto-bold.ttf") format("truetype"), url("../fonts/roboto/bold/roboto-bold.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/roboto/medium/roboto-medium.eot");
  src: url("../fonts/roboto/medium/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/medium/roboto-medium.woff2") format("woff2"), url("../fonts/roboto/medium/roboto-medium.woff") format("woff"), url("../fonts/roboto/medium/roboto-medium.ttf") format("truetype"), url("../fonts/roboto/medium/roboto-medium.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto/light/roboto-light.eot");
  src: url("../fonts/roboto/light/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/light/roboto-light.woff2") format("woff2"), url("../fonts/roboto/light/roboto-light.woff") format("woff"), url("../fonts/roboto/light/roboto-light.ttf") format("truetype"), url("../fonts/roboto/light/roboto-light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto/regular/roboto-regular.eot");
  src: url("../fonts/roboto/regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/regular/roboto-regular.woff2") format("woff2"), url("../fonts/roboto/regular/roboto-regular.woff") format("woff"), url("../fonts/roboto/regular/roboto-regular.ttf") format("truetype"), url("../fonts/roboto/regular/roboto-regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  float: none !important;
  clear: both;
}

label {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

a {
  color: #4787dc;
  text-decoration: none;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

p {
  margin-bottom: 1em;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto Light";
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3;
  color: #666;
  background-color: #f3eeeb;
  position: relative;
  min-height: 100%;
  background-image: url("../img/css/noize-2.png");
  background-position: 0 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.wrapper {
  padding-bottom: 310px;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}

#page-content {
  padding-top: 10px;
  padding-bottom: 30px;
}

.top-content {
  position: relative;
  z-index: 1;
  margin-left: 240px;
}

.side-bar {
  position: relative;
  z-index: 10;
}
.side-bar.fl {
  width: 220px;
  overflow: hidden;
  margin-right: 20px;
}

.main-content {
  overflow: hidden;
}
.top-content + .main-content {
  width: 100%;
  padding-top: 45px;
}

.side-content {
  width: 460px;
  margin-bottom: 20px;
}

header {
  position: relative;
  z-index: 100;
  padding-top: 47px;
}
header .h-top {
  height: 47px;
  line-height: 47px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #1d1d1e;
}
header .h-top .top-nav {
  overflow: hidden;
}
header .h-top .top-nav li {
  float: left;
  margin-right: 20px;
}
header .h-top .top-nav li.active a, header .h-top .top-nav a:hover {
  color: #fff;
}
header .h-top .top-nav li.active a:before, header .h-top .top-nav a:hover:before {
  background-color: #4787dc;
}
header .h-top .top-nav a {
  display: block;
  position: relative;
  font-size: 12px;
  color: #666666;
}
header .h-top .top-nav a:before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.15s linear;
  -ms-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
header .h-top .cart-info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #787878;
  font-size: 11px;
  color: #999999;
}
header .h-top .cart-info a {
  color: #999999;
}
header .h-top .sum, header .h-top .link-cart {
  display: inline-block;
  vertical-align: top;
}
header .h-top .link-cart {
  position: relative;
  margin-left: 40px;
  padding-left: 35px;
  padding-right: 12px;
  margin-right: 20px;
}
header .h-top .link-cart:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
header .h-top .link-cart:before {
  content: '';
  height: 15px;
  width: 15px;
  background: url('../img/css/icons-scf1d716dd0.png') 0 0 no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 7px;
}
header .h-main {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 5px;
}
header .h-main .h-logo {
  font-size: 12px;
  text-transform: lowercase;
}
header .h-main .h-logo a {
  color: #333;
}
header .h-main .h-logo img {
  display: block;
}
header .h-main .h-content {
  margin-left: 315px;
  position: relative;
}
header .h-main .h-content .search-form {
  width: 340px;
  margin-left: 1px;
  margin-top: 13px;
  position: relative;
}
header .h-main .h-content .search-form input[type=text] {
  line-height: 15px;
  display: block;
  text-align: left;
  outline: 0;
  width: 100%;
  height: 45px;
  padding: 15px 20px;
  color: #333;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header .h-main .h-content .search-form input[type=text]::-webkit-input-placeholder {
  font-style: normal;
  color: #333333;
}
header .h-main .h-content .search-form input[type=text]:-moz-placeholder {
  font-style: normal;
  color: #333333;
}
header .h-main .h-content .search-form input[type=text]::-moz-placeholder {
  font-style: normal;
  color: #333333;
}
header .h-main .h-content .search-form input[type=text]:-ms-input-placeholder {
  font-style: normal;
  color: #333333;
}
header .h-main .h-content .search-form input[type=text]:focus {
  border-color: #1d1d1e;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}
header .h-main .h-content .search-form button[type=submit] {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 50px;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: #fff;
  border-radius: 4px;
}
header .h-main .h-content .search-form button[type=submit]:before {
  content: '';
  height: 16px;
  width: 16px;
  background: url('../img/css/icons-scf1d716dd0.png') 0 -59px no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
header .h-main .h-content .contact-info {
  max-width: 230px;
  font-size: 13px;
  color: #8f8f8f;
}
header .h-main .h-content .contact-info .phone {
  font-family: "Roboto Bold";
  font-size: 23px;
  font-weight: normal;
  line-height: 1;
  color: #4787dc;
  margin-bottom: 15px;
}
header .h-main .h-content .contact-info .phone span {
  color: #a0a0a0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 295px;
  color: #999;
  background-color: #1d1d1e;
  padding-top: 50px;
  padding-bottom: 52px;
}
footer a {
  color: #999;
}
footer .copy {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 52px;
  font-size: 11px;
  line-height: 51px;
}
footer .copy .wrap:before {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}
footer .copy .wrap:after {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ed7e48;
  z-index: 1;
}
footer .copy:before {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4787dc;
}
footer .copy:after {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff176;
}
footer .f-box {
  overflow: hidden;
  max-width: 160px;
  min-width: 140px;
  margin-right: 25px;
  font-size: 11px;
  line-height: 1.1;
}
footer .f-box.fr {
  margin: 0;
  max-width: 230px;
  text-align: right;
}
footer .f-box.fr ul {
  margin: 0;
}
footer .f-box.fr .marg {
  margin-top: 24px;
}
footer .f-box ul {
  margin-top: -5px;
}
footer .f-box a {
  display: block;
  padding: 5px 0;
}
footer .f-box a:hover {
  color: #cccccc;
  text-decoration: underline;
}
footer .to-map {
  color: #4787dc;
  text-decoration: underline;
  padding: 0 !important;
}
footer .to-map:hover {
  text-decoration: none;
}

.count {
  font-family: "Roboto Regular";
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  margin-left: 10px;
  margin-right: 2px;
}

.orange {
  color: #e67e2a;
}

.info {
  font-family: "Roboto Light";
  color: #a8a8a8;
}

.static {
  position: static !important;
}

.link-box {
  display: block;
  text-decoration: underline;
  color: #4787dc;
  text-align: center;
}
.link-box:hover {
  color: #013C70;
  text-decoration: none;
}
.link-box img {
  display: block;
  height: 92px;
  margin: 0 auto 15px;
}
.link-more {
  display: inline-block !important;
  position: relative;
  padding-right: 12px !important;
  color: #4787dc !important;
  text-decoration: underline !important;
  line-height: 1;
}
.link-more:hover {
  text-decoration: none !important;
}
.link-more:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  right: 0;
  border: 3px solid transparent;
  border-top-color: #4787dc;
  z-index: 1;
}
.link-more.active:before {
  top: 2px;
  border-color: transparent;
  border-bottom-color: #4787dc;
}
.link-orange {
  line-height: 30px;
  display: inline-block;
  padding: 0 2em;
  letter-spacing: 1px;
  color: #fff;
  background-color: #e67e2a;
  border-radius: 5px;
  border-bottom: 2px solid #bd6116;
}
.link-orange:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.65);
  background-color: #e4761c;
}
.link-orange:active {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  background-color: #d86f19;
}
.link-dashed {
  font-family: "Roboto Light";
  font-size: 13px;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none !important;
  border-bottom: 1px dashed #4787dc;
}
.link-dashed:hover {
  border-bottom-color: transparent !important;
  text-decoration: none;
}

.title-def, .title-box {
  line-height: 1.1;
  color: #212121;
  text-align: left;
}

.title-def {
  font-family: "Roboto Medium";
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: .6em;
  margin-bottom: 1.7em;
  border-bottom: 1px solid #d3dbd7;
}
.title-box {
  font-family: "Roboto Medium";
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 1em;
}

[class*=title-] h1, [class*=title-] h2, [class*=title-] h3 {
  color: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  margin: 0;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 1;
  padding: 12px 0;
}
.breadcrumbs a {
  display: inline-block;
  vertical-align: top;
  color: #21212D;
}
.breadcrumbs a:hover {
  color: #4787dc;
  text-decoration: underline;
}
.breadcrumbs .sep {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}

.toggle-container {
  position: relative;
  z-index: 1;
}
.toggle-container .toggle-control {
  cursor: pointer;
}
.toggle-container .toggle-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 100%;
  z-index: 5;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.side-nav {
  background-color: #f5f5f5;
}
.side-nav li:first-child a {
  border: 0;
  box-shadow: none;
}
.side-nav a {
  font-family: "Roboto Light";
  font-size: 13px;
  display: block;
  position: relative;
  z-index: 2;
  line-height: 1.1;
  color: #666;
  padding: 18px 30px;
  border-top: 1px solid #f9f9f9;
  box-shadow: 0 -1px 0 0 #ededed;
}
.side-nav a:before {
  content: '';
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
  z-index: -1;
  background-color: #e67e2a;
  border-bottom: 3px solid #c66517;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.side-nav a:hover {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.side-nav a:hover:before {
  opacity: 1;
}

.catalog-item, .catalog-news {
  overflow: hidden;
}

.catalog-item {
  margin: -45px -10px 10px;
  padding-bottom: 35px;
}
.item-overview .item-view .catalog-item {
  margin-top: -20px;
}
.catalog-news {
  margin: 0 -10px;
}

.box-news {
  overflow: hidden;
  width: 33.33333%;
}
.box-news .inner-wrap {
  padding: 0 10px;
}
.box-news .news-img {
  height: 135px;
  line-height: 0;
  overflow: hidden;
  margin-bottom: 7px;
}
.box-news .news-descr {
  height: 230px;
  overflow: hidden;
  line-height: 1.5;
  padding: 8px 22px;
}
.box-news .news-descr p {
  margin-bottom: 1.8em;
}
.box-item {
  height: 360px;
  margin-top: 45px;
  padding: 0 10px;
}
.side-content .catalog-item .box-item {
  width: 50%;
}
.item-overview .item-view .box-item {
  height: 200px;
  margin-top: 20px;
}
.item-overview .item-view .box-item .item-add {
  display: none;
}
.item-overview .item-view .box-item .name {
  font-size: 13px;
}
.item-overview .item-view .box-item .item-img img {
  max-width: 50%;
}
.item-overview .item-view .box-item .item-descr {
  height: 90px;
}
.catalog-item .box-item {
  width: 33.33333%;
}
.box-item .inner-wrap {
  height: 100%;
  position: relative;
}
.box-item .item-img {
  display: block;
  overflow: hidden;
  line-height: 0;
  text-align: center;
  height: 100%;
  padding-top: 20px;
}
.box-item .item-img:hover {
  opacity: .7;
}
.box-item .item-img img {
  max-width: 100%;
}
.box-item .item-descr {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  z-index: 5;
  height: 130px;
  padding: 5px 12px;
}
.box-item .name {
  font-family: "Roboto Regular";
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  padding-bottom: 10px;
  color: #212121;
  display: table-cell;
  vertical-align: middle;
}
.box-item .name:hover {
  color: #616161;
  text-decoration: underline;
}
.box-item .price-cur, .box-item .price-old {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto Bold";
}
.box-item .price-cur {
  font-size: 18px;
  color: #4787dc;
}
.box-item .price-old {
  color: #999999;
  margin-top: -6px;
  font-size: 11px;
  text-decoration: line-through;
}
.box-item .item-add {
  position: absolute;
  bottom: -17px;
  left: 50%;
  z-index: 5;
  width: 146px;
  height: 39px;
  margin-left: -73px;
  font-family: "Roboto Regular";
  font-size: 10px;
  font-weight: normal;
  color: #999;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.8);
  background: #f1f1f1;
  background: -webkit-linear-gradient(bottom, #f1f1f1, #fff);
  background: linear-gradient(to top, #f1f1f1, #fff);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.box-item .item-add:hover {
  background: #e67e2a;
  color: #fff;
  border-bottom-color: #c66517;
  box-shadow: inset 0 -1px 0 0 #c66517;
}
.box-content {
  background-color: #fff;
  border-radius: 4px;
}
.box-content.text {
  padding: 20px;
}
.box-content.bordered {
  border: 1px solid #dcdcdc;
}
.box-text {
  text-align: left;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 35px;
}
.box-text p, .box-text ul, .box-text ol, .box-text article {
  margin-bottom: 15px;
}

.item-types {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.item-types .title-box {
  font-size: 14px;
  text-align: center;
  margin-bottom: 4px;
}
.item-types .type-link {
  line-height: 0;
  padding-top: 30px;
  text-align: center;
  position: relative;
  width: 33.33333%;
  height: 260px;
  border-left: 1px solid #f4f6f8;
  margin-left: -1px;
  color: #fff;
}
.item-types .type-link .price {
  position: absolute;
  bottom: 45px;
  left: 50px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.55);
  width: 55px;
  z-index: 2;
}
.item-types .type-link .price:before {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: -18px;
  left: -1px;
  z-index: -1;
  background-color: #e67e2a;
  border-radius: 10px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.item-types .type-link .val {
  display: block;
  font-family: "Roboto Bold";
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 7px;
  color: #fff;
}
.item-types .type-link:hover:before {
  opacity: 1;
  box-shadow: 0 0 60px 60px rgba(71, 135, 220, 0.15);
}
.item-types .type-link:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.item-nav {
  width: 460px;
  padding: 45px 0 25px;
}
.item-nav .nav-box {
  width: 33.33333%;
  padding: 0 10px;
}
.item-nav .toggle-content {
  padding: 7px 12px;
}
.item-nav .toggle-content ul {
  padding: 0;
  margin: 0;
}
.item-nav ul {
  padding-top: 12px;
  margin-top: -3px;
}
.item-nav ul a {
  display: block;
  font-size: 12px;
  color: #a8a8a8;
  padding: 3px 0;
  text-decoration: none;
}
.item-nav ul a:hover {
  color: #4f4f4f;
  text-decoration: underline;
}
.item-nav ul .link-more {
  margin-top: 4px;
  padding-bottom: 2px;
}

.item-help {
  width: 220px;
  padding: 20px;
  overflow: hidden;
}
.item-help a {
  display: block;
  padding: 5px 0;
  text-decoration: underline;
  color: #4787dc;
}
.item-help a:hover {
  color: #013C70;
  text-decoration: none;
}
.item-help ul {
  padding-bottom: 30px;
  margin-top: -5px;
}

.pagination {
  font-family: "Roboto Medium";
  font-size: 0;
  font-weight: normal;
  padding-top: 10px;
  text-align: right;
}
.pagination li {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  line-height: 1.8;
  font-size: 15px;
}
.pagination li.active a {
  color: #fff;
  background-color: #e67e2a;
}
.pagination a {
  display: block;
  color: #999;
  line-height: 30px;
  background-color: transparent;
  border-radius: 6px;
}
.pagination a:hover {
  color: #fff;
  background-color: rgba(255, 165, 0, 0.65);
}

.item-overview {
  overflow: hidden;
}
.item-overview:after {
  content: '';
  display: table;
  clear: both;
}
.item-overview .item-gal {
  width: 320px;
  margin-bottom: 30px;
}
.item-overview .item-gal .main {
  overflow: hidden;
  line-height: 0;
  padding: 12px;
}
.item-overview .item-gal .img-gallery {
  margin: 10px -9px 0;
  line-height: 0;
  overflow: hidden;
}
.item-overview .item-gal .img-gallery li {
  width: 33.33333%;
  padding: 0 9px;
}
.item-overview .item-gal .img-gallery a {
  padding: 15px;
  height: 95px;
  display: block;
}
.item-overview .item-option {
  overflow: hidden;
  margin-bottom: 30px;
}
.item-overview .item-option .price-line {
  font-family: "Roboto Medium";
  font-size: 55px;
  font-weight: normal;
  line-height: 1;
  color: #212121;
  margin-bottom: 20px;
}
.item-overview .item-option .price-line .small {
  font-size: 25px;
}
.item-overview .item-option .buy-line {
  line-height: 1;
  margin-bottom: 8px;
}
.item-overview .item-option .buy-line .link-orange {
  font-family: "Roboto Bold";
  font-size: 19px;
  font-weight: normal;
  box-shadow: inset 0 -3px 0 0 #bd6116;
  line-height: 55px;
}
.item-overview .item-option .link-dashed {
  color: #000;
  border-color: #000;
}
.item-overview .item-info {
  overflow: hidden;
  margin-bottom: 30px;
}
.item-overview .item-info .tabs-buttons {
  margin-top: -20px;
}
.item-overview .item-view {
  overflow: hidden;
}

.lift-top {
  font-size: 11px;
  position: fixed;
  bottom: 275px;
  z-index: 150;
  opacity: 0;
  padding-top: 20px;
  cursor: pointer;
  visibility: hidden;
  width: 42px;
  height: 42px;
  border-radius: 3px;
  color: #fff;
  background-color: #4787dc;
  text-align: center;
  transition-duration: .4s;
}
.lift-top:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -6px;
  border: 6px solid transparent;
  border-bottom-color: #fff;
}
.lift-top:hover {
  background-color: #367cd9;
}
.lift-top:hover:before {
  top: -1px;
  border-width: 8px;
  margin-left: -8px;
}
.lift-top:active {
  background-color: #2973d6;
}
.lift-top.visible {
  visibility: visible;
  opacity: 1;
}

#cart-content {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto Medium";
  color: #292929;
}
#cart-content th {
  text-align: center;
  padding: 0 0 15px;
}
#cart-content tbody tr {
  height: 110px;
}
#cart-content tbody tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
#cart-content tbody tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
#cart-content tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
#cart-content tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
#cart-content tbody tr:only-child td:first-child {
  border-radius: 4px 0 0 4px;
}
#cart-content tbody tr:only-child td:last-child {
  border-radius: 0 4px 4px 0;
}
#cart-content tbody td {
  text-align: center;
  background-color: #fff;
  vertical-align: middle;
}
#cart-content tbody td:last-child {
  padding: 0 8px;
}
#cart-content tbody td.name {
  width: 240px;
  padding-left: 25px;
  padding-right: 10px;
  text-align: left;
}
#cart-content tbody td.name img {
  vertical-align: middle;
  margin-right: 20px;
  max-height: 60px;
}
#cart-content tfoot td {
  padding: 30px 0;
}
#cart-content a {
  color: #292929;
}
#cart-content a:hover {
  color: #4787dc;
  text-decoration: underline;
}
#cart-content a.link-dashed {
  color: #4787dc;
}
#cart-content .currency {
  font-family: "Roboto Light";
}
#cart-content .delete {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
#cart-content .delete:before {
  content: '';
  height: 6px;
  width: 6px;
  background: url('../img/css/icons-scf1d716dd0.png') 0 -46px no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
}
#cart-content .delete:hover {
  background-color: #fafafa;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
#cart-content .delete:active {
  background-color: #f7f7f7;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cart-content .count-control {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  position: relative;
  z-index: 1;
  padding: 0 14px;
}
#cart-content .count-control .btn {
  position: absolute;
  top: 3px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: #e67e2a;
  border-radius: 2px;
}
#cart-content .count-control .btn.minus {
  left: 0;
}
#cart-content .count-control .btn.plus {
  right: 0;
}
#cart-content .count-control .btn.plus:after {
  content: '';
  width: 2px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -3px;
  background-color: #fff;
}
#cart-content .count-control .btn:hover {
  background-color: #eb9a58;
}
#cart-content .count-control .btn:before {
  content: '';
  width: 6px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -1px;
  background-color: #fff;
}
#cart-content .quantity {
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #000;
  background-color: transparent;
  line-height: 14px;
  display: block;
  text-align: left;
  outline: 0;
  width: 100%;
  height: 18px;
  padding: 2px 0;
  padding: 0;
  border: 0;
  text-align: center;
}

.tabs-container {
  overflow: hidden;
}
.tabs-container .tabs-buttons {
  font-size: 0;
}
.tabs-container .tabs-buttons li {
  margin-right: 15px;
  font-family: "Roboto Medium";
  font-size: 15px;
  line-height: 1;
  padding: 17px 0 20px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border-top: 4px solid transparent;
}
.tabs-container .tabs-buttons li.active {
  border-color: #4787dc !important;
}
.tabs-container .tabs-buttons li:hover {
  border-color: #e67e2a;
}
.tabs-container .tabs-content {
  overflow: hidden;
}

.form-group .w-25, .form-group .w-50, .form-group .w-75, .form-group .w-100 {
  float: left;
}

.form-group {
  overflow: hidden;
  margin: 0 -8px 20px;
}
.form-group + .form-group {
  margin-top: 100px;
}
.form-group:last-child {
  margin-bottom: 0 !important;
}
.form-group .form-line {
  padding: 8px;
}
.form-group .w-25 {
  width: 25%;
}
.form-group .w-50 {
  width: 50%;
}
.form-group .w-75 {
  width: 75%;
}
.form-group .w-100 {
  width: 100%;
}

.form-line {
  overflow: hidden;
  position: relative;
  padding: 3px 0;
  z-index: 1;
}
.form-line label {
  font-family: "Roboto Medium";
  font-size: 13px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: .3em;
}
.form-line.checkbox {
  min-height: 32px;
  margin-bottom: 20px;
}
.form-group .form-line.checkbox {
  margin: 0 !important;
}
.form-line.checkbox label {
  padding-left: 45px;
  padding-top: 7px;
  position: relative;
  margin: 0;
  display: inline-block;
  color: #000;
}
.form-line.checkbox label:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border-radius: 2px;
}
.form-line.checkbox input {
  position: absolute;
  left: -9999px;
}
.form-line.checkbox input:checked + label:after {
  content: '';
  height: 17px;
  width: 17px;
  background: url('../img/css/icons-scf1d716dd0.png') 0 -22px no-repeat;
  position: absolute;
  top: 4px;
  left: 4px;
}
.form-line.checkbox input:checked + label:before {
  border-color: #e67e2a;
}
.form-line.captcha {
  padding-left: 75px;
}
.form-line.captcha img {
  max-width: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-element {
  font-family: "Roboto Light";
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  display: block;
  text-align: left;
  outline: 0;
  width: 100%;
  height: 45px;
  padding: 15px 10px;
  color: #999;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form-element::-webkit-input-placeholder {
  color: #999;
}
.form-element:-moz-placeholder {
  color: #999;
}
.form-element::-moz-placeholder {
  color: #999;
}
.form-element:-ms-input-placeholder {
  color: #999;
}
.form-element:focus {
  border-color: #d6d6d6;
}

textarea.form-element {
  height: 113px;
  line-height: 1.3;
  padding: 8px;
  overflow: auto;
}

.submit {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto Medium";
  font-size: 14px;
  font-weight: normal;
  width: auto;
  height: 52px;
  min-width: 157px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  color: #fff;
  background-color: #4787dc;
  border-bottom: 4px solid #2568c1;
  border-radius: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.submit:hover {
  background-color: #3a7fda;
}
.submit:active {
  background-color: #2d76d7;
}
