@import 'compass/reset';
@import '_mixins';

*{
	box-sizing: border-box;

	&:before, &:after{
		box-sizing: border-box;
	}
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clear{
	float: none !important;
	clear: both;
}

label{
	cursor: pointer;
}

.text{
	&-center{
		text-align: center;
	}

	&-left{
		text-align: left;
	}

	&-right{
		text-align: right;
	}

	&-justify{
		text-align: justify;
	}

	&-uppercase{
		text-transform: uppercase;
	}

	&-lowercase{
		text-transform: lowercase;
	}

	&-capitalize{
		text-transform: capitalize;
	}
}

a{
	color: color(aqua);
	text-decoration: none;
	@include prefix((
		transition: all .15s linear
		));

}

p{
	margin-bottom: 1em;
}