//----------  CSS-URL & SPRITES  ---------

$icons: sprite-map('icons/*.png', $spacing: 7px, $layout: vertical);
@import 'icons/*.png';
$img-url: '../img/css/';

//----------  FONTS  ---------
$fonts-url: '../fonts/';

@font-face {
    font-family: 'Roboto Bold';
    src: url('#{$fonts-url}roboto/bold/roboto-bold.eot');
    src: url('#{$fonts-url}roboto/bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}roboto/bold/roboto-bold.woff2') format('woff2'),
         url('#{$fonts-url}roboto/bold/roboto-bold.woff') format('woff'),
         url('#{$fonts-url}roboto/bold/roboto-bold.ttf') format('truetype'),
         url('#{$fonts-url}roboto/bold/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('#{$fonts-url}roboto/medium/roboto-medium.eot');
    src: url('#{$fonts-url}roboto/medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}roboto/medium/roboto-medium.woff2') format('woff2'),
         url('#{$fonts-url}roboto/medium/roboto-medium.woff') format('woff'),
         url('#{$fonts-url}roboto/medium/roboto-medium.ttf') format('truetype'),
         url('#{$fonts-url}roboto/medium/roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('#{$fonts-url}roboto/light/roboto-light.eot');
    src: url('#{$fonts-url}roboto/light/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}roboto/light/roboto-light.woff2') format('woff2'),
         url('#{$fonts-url}roboto/light/roboto-light.woff') format('woff'),
         url('#{$fonts-url}roboto/light/roboto-light.ttf') format('truetype'),
         url('#{$fonts-url}roboto/light/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('#{$fonts-url}roboto/regular/roboto-regular.eot');
    src: url('#{$fonts-url}roboto/regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-url}roboto/regular/roboto-regular.woff2') format('woff2'),
         url('#{$fonts-url}roboto/regular/roboto-regular.woff') format('woff'),
         url('#{$fonts-url}roboto/regular/roboto-regular.ttf') format('truetype'),
         url('#{$fonts-url}roboto/regular/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal; 
} 

$fonts: (
	regular: 'Roboto Regular',
	light: 'Roboto Light',
	bold: 'Roboto Bold',
	medium: 'Roboto Medium'
	);

@function family($font-key, $font-map: $fonts){

	@if (map-has-key($font-map, $font-key)){
		@return map-get($font-map, $font-key)
	}

	@warn 'FONT map does not contain font `#{$font-key}`';
}

//----------  COLORS  ----------

$colors: (
	orange: #e67e2a,
	aqua: #4787dc,
	black: #1d1d1e
	);

@function color($color-key, $color-map: $colors){
	@if (map-has-key($color-map, $color-key)){
		@return map-get($color-map, $color-key)
	}
	@warn 'COLOR map does not contain color `#{$color-key}`';
}