@import '_configurations';
@import '_mixins';

html{
	height: 100%;
}

body{
	@include font(family(light) 13px normal);
	line-height: 1.3;
	@include set-colors(#666, #f3eeeb);
	position: relative;
	min-height: 100%;
	background-image: url('#{$img-url}noize-2.png');
	background-position: 0 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrap{
	margin: 0 auto;
	width: 940px;
	position: relative;
}

.wrapper{
	padding-bottom: 310px;
	@include clearfix;
}

#page-content{
	padding:{
		top: 10px;
		bottom: 30px;
	}
}

.top-content{
	position: relative;
	z-index: 1;
	margin-left: 240px;
}

.side-bar{
	position: relative;
	z-index: 10;
	
	&.fl{
		width: 220px;
		overflow: hidden;
		margin-right: 20px;
	}
}

.main-content{
	overflow: hidden;

	.top-content + &{
		width: 100%;
		padding-top: 45px;
	}
}

.side-content{
	width: 460px;
	margin-bottom: 20px;
}

header{
	position: relative;
	z-index: 100;
	padding-top: 47px;

	.h{
		&-top{
			height: 47px;
			line-height: 47px;
			@include fixed(top left right);
			z-index: 5;
			background-color: color(black);
			
			.top-nav{
				overflow: hidden;

				li{
					float: left;
					margin-right: 20px;

					&.active a{
						@extend %active-style;
					}
				}

				%active-style{
					color: #fff;

					&:before{
						background-color: color(aqua);
					}
				}

				a{
					display: block;
					position: relative;
					font-size: 12px;
					color: #666666;

					&:before{
						@include content(100%, 3px);
						@include absolute(top left);
						background-color: transparent;
						@include prefix((
							transition: background-color .15s linear
							));
					}

					&:hover{
						@extend %active-style;
					}
				}
			}

			.cart-info{
				@include absolute(top right);
				z-index: 1;
				color: #787878;
				font-size: 11px;
				color: #999999;

				a{
					color: #999999;
				}
			}

			.sum, .link-cart{
				@include ib(top);
			}

			.link-cart{
				position: relative;
				margin-left: 40px;
				padding:{
					left: 35px;
					right: 12px;
				}
				margin-right: 20px;

				&:hover{
					background-color: rgba(#fff, .1);
				}

				&:before{
					@include icon-absolute-vertical($icons, cart, left 7px);
				}
			}
		}

		&-main{
			overflow: hidden;
			padding:{
				top: 20px;
				bottom: 5px;
			}

			.h{
				&-logo{
					font-size: 12px;
					text-transform: lowercase;

					a{
						color: #333;
					}

					img{
						display: block;
					}
				}

				&-content{
					margin-left: 315px;
					position: relative;

					.search-form{
						width: 340px;
						margin-left: 1px;
						margin-top: 13px;
						position: relative;

						input[type=text]{
							@include input(45px, 15px, 20px);
							color: #333;
							@include prefix((
								transition: all .2s ease-in
								));
							@include placeholder {
								font-style: normal;
								color: #333333;
							}
							&:focus{
								border-color: color(black);
								box-shadow: 0 0 1px 1px rgba(#000, .15);
							}
						}

						button[type=submit]{
							@include absolute(top 1px right 1px bottom 1px);
							width: 50px;
							cursor: pointer;
							outline: 0;
							border: 0;
							background: #fff;
							border-radius: 4px;

							&:before{
								@include icon-absolute-center($icons, search);
							}
						}
					}

					.contact-info{
						max-width: 230px;
						font-size: 13px;
						color: #8f8f8f;

						.phone{
							@include font(family(bold) 23px normal);
							line-height: 1;
							color: color(aqua);
							margin-bottom: 15px;

							span{
								color: #a0a0a0;
							}
						}
					}
				}
			}
		}
	}
}

footer{
	@include absolute(bottom left right);
	z-index: 1;
	height: 295px;
	@include set-colors(#999, color(black));
	padding:{
		top: 50px;
		bottom: 52px;
	}

	a{
		color: #999;
	}

	.copy{
		@include absolute(bottom left right);
		z-index: 1;
		height: 52px;
		font-size: 11px;
		line-height: 51px;

		.wrap:before{
			@include content(50%, 1px);
			@include absolute(top left);
			background-color: #fff;
			z-index: 1;
		}

		.wrap:after{
			@include content(50%, 1px);
			@include absolute(top right);
			background-color: #ed7e48;
			z-index: 1;
		}

		&:before{
			@include content(50%, 1px);
			@include absolute(top left);
			background-color: color(aqua);
		}

		&:after{
			@include content(50%, 1px);
			@include absolute(top right);
			background-color: #fff176;
		}
	}

	.f-box{
		overflow: hidden;
		max-width: 160px;
		min-width: 140px;
		margin-right: 25px;
		font-size: 11px;
		line-height: 1.1;

		&.fr{
			margin: 0;
			max-width: 230px;
			text-align: right;

			ul{
				margin: 0;
			}

			.marg{
				margin-top: 24px;
			}
		}

		ul{
			margin-top: -5px;
		}

		a{
			display: block;
			padding: 5px 0;

			&:hover{
				color: lighten(#999, 20%);
				text-decoration: underline;
			}
		}
	}

	.to-map{
		color: color(aqua);
		text-decoration: underline;
		padding: 0 !important;
		&:hover{
			text-decoration: none;
		}
	}
}