@import '_mixins';
@import '_configurations';
@import '_base';
@import '_structure';

.count{
	@include font(family(regular) 12px normal);
	color: #fff;
	margin:{
		left: 10px;
		right: 2px;
	}
}

.orange{
	color: color(orange);
}

.info{
	font-family: family(light);
	color: #a8a8a8;
}

.static{
	position: static !important;
}

.link{
	&-box{
		display: block;
		text-decoration: underline;
		color: color(aqua);
		text-align: center;

		&:hover{
			color: #013C70;
			text-decoration: none;
		}

		img{
			display: block;
			height: 92px;
			margin: 0 auto 15px;
		}
	}

	&-more{
		display: inline-block !important;
		position: relative;
		padding-right: 12px !important;
		color: color(aqua) !important;
		text-decoration: underline !important;
		line-height: 1;

		&:hover{
			text-decoration: none !important;
		}

		&:before{
			@include content(0);
			@include absolute(top 6px right);
			border: 3px solid transparent;
			border-top-color: color(aqua);
			z-index: 1;
		}

		&.active:before{
			top: 2px;
			border-color: transparent;
			border-bottom-color: color(aqua); 
		}
	}

	&-orange{
		line-height: 30px;
		display: inline-block;
		padding: 0 2em;
		letter-spacing: 1px;
		@include set-colors(#fff, color(orange));
		border-radius: 5px;
		border-bottom: 2px solid darken(color(orange), 12%);

		&:hover{
			text-shadow: 0 0 1px rgba(#000, .65);
			background-color: darken(color(orange), 3%);
		}

		&:active{
			text-shadow: 0 0 1px rgba(#000, .85);
			background-color: darken(color(orange), 6%);
		}
	}

	&-dashed{
		@include font(family(light) 13px);
		display: inline-block;
		letter-spacing: 1px;
		text-decoration: none !important;
		border-bottom: 1px dashed color(aqua);

		&:hover{
			border-bottom-color: transparent !important;
			text-decoration: none;
		}
	}
}

%titles-style{
	line-height: 1.1;
	color: #212121;
	text-align: left;
}

.title{
	&-def{
		@include font(family(medium) 18px normal);
		@extend %titles-style;
		text-transform: uppercase;
		padding-bottom: .6em;
		margin-bottom: 1.7em;
		border-bottom: 1px solid #d3dbd7;
	}

	&-box{
		@include font(family(medium) 15px normal);
		@extend %titles-style;
		margin-bottom: 1em;
	}
}

h1, h2, h3 {

	[class*=title-] &{
		color: inherit !important;
		font-size: inherit !important;
		line-height: inherit !important;
		font-weight: inherit !important;
		margin: 0;
	}	
}

.breadcrumbs{
	font-size: 12px;
	line-height: 1;
	padding: 12px 0;

	a {
		@include ib(top);
		color: #21212D;

		&:hover{
			color: color(aqua);
			text-decoration: underline;
		}
	}

	.sep{
		@include ib(top);
		margin: 0 3px;
	}
}

.toggle-container{
	position: relative;
	z-index: 1;

	.toggle-control{
		cursor: pointer;
	}

	.toggle-content{
		@include absolute(top 100% left);
		display: none;
		min-width: 100%;
		z-index: 5;
		box-shadow: 0 0 2px 1px rgba(#000, .1);
		overflow: hidden;
	}
}

.side-nav{
	background-color: #f5f5f5;

	li:first-child a{
		border: 0;
		box-shadow: none;
	}

	a{
		@include font(family(light) 13px);
		display: block;
		position: relative;
		z-index: 2;
		line-height: 1.1;
		color: #666;
		padding: 18px 30px;
		border-top: 1px solid #f9f9f9;
		box-shadow: 0 -1px 0 0 #ededed;

		&:before{
			@include content(auto);
			@include absolute(top right -1px bottom left -1px);
			z-index: -1;
			background-color: color(orange);
			border-bottom: 3px solid darken(color(orange), 10%);
			opacity: 0;
			@include prefix((
				transition: opacity .2s linear
				));
		}

		&:hover{
			color: #fff;
			text-shadow: 0 1px rgba(#000, .4);

			&:before{
				opacity: 1;
			}
		}
	}
}

%catalog-overflow{
	overflow: hidden;
}

.catalog{

	&-item{
		@extend %catalog-overflow;
		margin: -45px -10px 10px;
		padding-bottom: 35px;

		.item-overview .item-view &{
			margin-top: -20px;
		}
	}

	&-news{
		@extend %catalog-overflow;
		margin: 0 -10px;
	}
}

.box{
	&-news{
		overflow: hidden;
		width: percentage(1/3);

		.inner-wrap{
			padding: 0 10px;
		}

		.news-img{
			height: 135px;
			line-height: 0;
			overflow: hidden;
			margin-bottom: 7px;
		}

		.news-descr{
			height: 230px;
			overflow: hidden;
			line-height: 1.5;
			padding: 8px 22px;

			p{
				margin-bottom: 1.8em;
			}
		}
	}

	&-item{
		height: 360px;
		margin-top: 45px;
		padding: 0 10px;

		.side-content .catalog-item & {
			width: percentage(1/2);
		}

		.item-overview .item-view &{
			height: 200px;
			margin-top: 20px;

			.item-add{
				display: none;
			}

			.name{
				font-size: 13px;
			}

			.item-img img{
				max-width: 50%;
			}

			.item-descr{
				height: 90px;
			}
		}

		.catalog-item & {
			width: percentage(1/3);
		}
		
		.inner-wrap{
			height: 100%;
			position: relative;
		}

		.item-img{
			display: block;
			overflow: hidden;
			line-height: 0;
			text-align: center;
			height: 100%;
			padding-top: 20px;

			&:hover{
				opacity: .7;
			}

			img{
				max-width: 100%;
			}
		}

		.item-descr{
			@include absolute(bottom left right);
			background-color: #fff;
			border-radius: 4px;
			z-index: 5;
			height: 130px;
			padding: 5px 12px;
		}

		.name{
			@include font(family(regular) 14px normal);
			height: 50px;
			padding-bottom: 10px;
			color: #212121;
			display: table-cell;
			vertical-align: middle;
			&:hover{
				color: lighten( #212121, 25%);
				text-decoration: underline;
			}
		}

		%price-line{
			@include ib;
			font-family: family(bold);

		}

		.price{
			&-cur{
				@extend %price-line;
				font-size: 18px;
				color: color(aqua);
			}

			&-old{
				@extend %price-line;
				color: #999999;
				margin-top: -6px;
				font-size: 11px;
				text-decoration: line-through;
			}
		}

		.item-add{
			@include absolute(bottom -17px left 50%);
			z-index: 5;
			@include size(146px, 39px);
			margin-left: -73px;
			@include font(family(regular) 10px normal);
			color: #999;
			line-height: 37px;
			text-align: center;
			text-transform: uppercase;
			border: 1px solid #e8e8e8;
			border-radius: 4px;
			box-shadow: inset 0 -1px 0 0 rgba(#fff, .8);
			@include linear-gradient(to top, #f1f1f1, #fff);
			@include prefix((
				transition: all .1s ease-in
				));

			&:hover{
				background: color(orange);
				color: #fff;
				border-bottom-color: darken(color(orange), 10%); 
				box-shadow: inset 0 -1px 0 0 darken(color(orange), 10%);
			}
		}
	}

	&-content{
		background-color: #fff;
		border-radius: 4px;

		&.text{
			padding: 20px;
		}

		&.bordered{
			border: 1px solid #dcdcdc;
		}
	}

	&-text{
		text-align: left;
		line-height: 1.5;
		padding: {
			top: 5px;
			bottom: 35px;
		}

		p, ul, ol, article{
			margin-bottom: 15px;
		}
	}
}

.item-types{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;

	.title-box{
		font-size: 14px;
		text-align: center;
		margin-bottom: 4px;
	}

	.type-link{
		line-height: 0;
		padding-top: 30px;
		text-align: center;
		position: relative;
		@include size(percentage(1/3), 260px);
		border-left: 1px solid #f4f6f8;
		margin-left: -1px;
		color: #fff;

		.price{
			@include absolute(bottom 45px left 50px);
			text-shadow: 0 1px rgba(#000, .55);
			width: 55px;
			z-index: 2;

			&:before{
				@include content(60px);
				@include absolute(top -18px left -1px);
				z-index: -1;
				background-color: color(orange);
				border-radius: 10px;
				@include prefix((
					transform: rotate(-30deg)
					));
			}
		}

		.val{
			display: block;
			@include font(family(bold) 15px normal);
			line-height: 1;
			margin-bottom: 7px; 
			color: #fff;
		}

		&:hover:before{
			opacity: 1;
			box-shadow: 0 0 60px 60px rgba(color(aqua), .15);
		}

		&:before{
			@include content(0);
			@include absolute(top 50% left 50%);
			z-index: 5;
			opacity: 0;
			@include prefix((
				transition: all .2s linear
				));
		}
	}
}

.item-nav{
	width: 460px;
	padding: 45px 0 25px;

	.nav-box{
		width: percentage(1/3);
		padding: 0 10px;
	}

	.toggle-content{
		padding: 7px 12px;

		ul{
			padding: 0;
			margin: 0;
		}
	}

	ul{
		padding-top: 12px;
		margin-top: -3px;

		a{
			display: block;
			font-size: 12px;
			color: #a8a8a8;
			padding: 3px 0;
			text-decoration: none;

			&:hover{
				color: darken(#a8a8a8, 35%);
				text-decoration: underline;
			}
		}

		.link-more{
			margin-top: 4px;
			padding-bottom: 2px;
		}
	}
}

.item-help{
	width: 220px;
	padding: 20px;
	overflow: hidden;

	a{
		display: block;
		padding: 5px 0;
		text-decoration: underline;
		color: color(aqua);

		&:hover{
			color: #013C70;
			text-decoration: none;
		}
	}

	ul{
		padding-bottom: 30px;
		margin-top: -5px;
	}
}

.pagination{
	@include font(family(medium) 0 normal);
	padding-top: 10px;
	text-align: right;

	li{
		@include ib(top);
		@include size(30px);
		margin-left: 5px;
		text-align: center;
		line-height: 1.8;
		font-size: 15px;

		&.active a{
			@include set-colors(#fff, color(orange));
		}
	}

	a{
		display: block;
		color: #999;
		line-height: 30px;
		background-color: transparent;
		border-radius: 6px;

		&:hover{
			@include set-colors(#fff, rgba(orange, .65));
		}
	}
}

.item-overview{
	overflow: hidden;
	@include clearfix;

	.item{
		&-gal{
			width: 320px;
			margin-bottom: 30px;

			.main{
				overflow: hidden;
				line-height: 0;
				padding: 12px;
			}

			.img-gallery{
				margin: 10px -9px 0;
				line-height: 0;
				overflow: hidden;

				li{
					width: percentage(1/3);
					padding: 0 9px;
				}

				a{
					padding: 15px;
					height: 95px;
					display: block;
				}
			}
		}

		&-option{
			overflow: hidden;
			margin-bottom: 30px;

			.price-line{
				@include font(family(medium) 55px normal);
				line-height: 1;
				color: #212121;
				margin-bottom: 20px;

				.small{
					font-size: 25px;
				}
			}

			.buy-line{
				line-height: 1;
				margin-bottom: 8px;

				.link-orange{
					@include font(family(bold) 19px normal);
					box-shadow: inset 0 -3px 0 0 darken(color(orange), 12%);
					line-height: 55px;
				}
			}

			.link-dashed{
				color: #000;
				border-color: #000;
			}
		}

		&-info{
			overflow: hidden;
			margin-bottom: 30px;

			.tabs-buttons{
				margin-top: -20px;
			}
		}

		&-view{
			overflow: hidden;
		}
	}
}

.lift-top{
	font-size: 11px;
	@include fixed(bottom 275px);
	z-index: 150;
	opacity: 0;
	padding-top: 20px;
	cursor: pointer;
	visibility: hidden;
	@include size(42px);
	border-radius: 3px;
	@include set-colors(#fff, color(aqua));
	text-align: center;
	transition-duration: .4s;
	&:before{
		@include content(0);
		@include absolute(top 4px left 50%);
		margin-left: -6px;
		border: 6px solid transparent;
		border-bottom-color: #fff;
	}

	&:hover{
		background-color: darken(color(aqua), 4%);

		&:before{
			top: -1px;
			border-width: 8px;
			margin-left: -8px;
		}
	}

	&:active{
		background-color: darken(color(aqua), 7%);
	}

	&.visible{
		visibility: visible;
		opacity: 1;
	}
}

#cart-content{
	width: 100%;
	margin-bottom: 20px;
	font-family: family(medium);
	color: #292929;

	th{
		text-align: center;
		padding: 0 0 15px;
	}

	tbody{

		tr{
			height: 110px;

			&:first-child{
				td:first-child{
					border-radius: 4px 0 0 0;
				}
				td:last-child{
					border-radius: 0 4px 0 0
				}
			}

			&:last-child{
				td:first-child{
					border-radius: 0 0 0 4px;
				}
				td:last-child{
					border-radius: 0 0 4px 0;
				}
			}

			&:only-child{
				td:first-child{
					border-radius: 4px 0 0 4px;
				}
				td:last-child{
					border-radius: 0 4px 4px 0;
				}
			}
		}

		td{
			text-align: center;
			background-color: #fff;
			vertical-align: middle;

			&:last-child{
				padding: 0 8px;
			}

			&.name{
				width: 240px;
				padding: {
					left: 25px;
					right: 10px;
				}
				text-align: left;

				img{
					vertical-align: middle;
					margin-right: 20px;
					max-height: 60px; 
				}
			}
		}
	}

	tfoot{
		td{
			padding: 30px 0;
		}
	}

	a{
		color: #292929;

		&:hover{
			color: color(aqua);
			text-decoration: underline;
		}

		&.link-dashed{
			color: color(aqua);
		}
	}

	.currency{
		font-family: family(light);
	}

	.delete{
		display: block;
		@include size(18px);
		border-radius: 10px;
		position: relative;
		cursor: pointer;

		&:before{
			@include icon-absolute-center($icons, del);
		}

		&:hover{
			background-color: darken(#fff, 2%);
			box-shadow: 0 0 1px 1px rgba(#000, .1);
		}

		&:active{
			background-color: darken(#fff, 3%);
			box-shadow: 0 0 1px 1px rgba(#000, .2);
		}
	}

	.count-control{
		@include ib;
		width: 55px;
		position: relative;
		z-index: 1;
		padding: 0 14px;

		.btn{
			@include absolute(top 3px);
			@include size(14px);
			cursor: pointer;
			background-color: color(orange);
			border-radius: 2px;

			&.minus{
				left: 0;
			}

			&.plus{
				right: 0;

				&:after{
					@include content(2px, 6px);
					@include absolute(top 50% left 6px);
					margin-top: -3px;
					background-color: #fff;
				}
			}

			&:hover{
				background-color: lighten(color(orange), 10%);
			}

			&:before{
				@include content(6px, 2px);
				@include absolute(top 50% left 4px);
				margin-top: -1px;
				background-color: #fff;
			}
		}
	}

	.quantity{
		@include font(family(bold) 14px);
		@include set-colors(#000, transparent);
		@include input(18px, 14px, 0);
		padding: 0;
		border: 0;
		text-align: center;
	}
}

.tabs-container{
	overflow: hidden;

	.tabs-buttons{
		font-size: 0;

		li{
			margin-right: 15px;
			@include font(family(medium) 15px);
			line-height: 1;
			padding: 17px 0 20px;
			@include ib(top);
			cursor: pointer;
			border-top: 4px solid transparent;

			&.active{
				border-color: color(aqua) !important;
			}

			&:hover{
				border-color: color(orange);
			}
		}
	}

	.tabs-content{
		overflow: hidden;
	}
}

%fl{
	float: left;
}

.form-group{
	overflow: hidden;
	margin: 0 -8px 20px;

	+ .form-group{
		margin-top: 100px;
	}

	&:last-child{
		margin-bottom: 0 !important;
	}

	.form-line{
		padding: 8px;
	}

	.w-25{
		width: 25%;
		@extend %fl;
	}

	.w-50{
		width: 50%;
		@extend %fl;
	}

	.w-75{
		width: 75%;
		@extend %fl;
	}

	.w-100{
		width: 100%;
		@extend %fl;
	}
}

.form-line{
	overflow: hidden;
	position: relative;
	padding: 3px 0;
	z-index: 1;

	label{
		@include font(family(medium) 13px normal);
		line-height: 1.1;
		margin-bottom: .3em;
	}

	&.checkbox{
		min-height: 32px;
		margin-bottom: 20px;

		.form-group & {
			margin: 0 !important;
		}

		label{
			padding:{
				left: 45px;
				top: 7px;
			}
			position: relative;
			margin: 0;
			display: inline-block;
			color: #000;

			&:before{
				@include content(25px);
				@include absolute(top left);
				border: 2px solid #e5e5e5;
				background-color: transparent; 
				border-radius: 2px;
			}
		}

		input{
			@include absolute(left -9999px);

			&:checked+ label{
				&:after {
					@include icon-absolute($icons, checked, top 4px left 4px);
				}
				&:before {
					border-color: color(orange);
				}
			}
		}
	}

	&.captcha{
		padding-left: 75px;

		img{
			max-width: 60px;
			@include absolute(top 50% left);
			@include prefix((
				transform: translateY(-50%)
				));
		}
	}
}

.form-element{
	@include font(family(light) 13px normal);
	@include input(45px, 15px, 10px);
	@include set-colors(#999, #fff);
	border-radius: 2px;
	border: 1px solid #f0f0f0;
	@include prefix((
		transition: all .2s linear
		));
	@include placeholder {
		color: #999;
	}

	&:focus{
		border-color: darken(#f0f0f0, 10%);
	}
}

textarea.form-element{
	height: 113px;
	line-height: 1.3;
	padding: 8px;
	overflow: auto;
}

.submit{
	@include ib(top);
	@include font(family(medium) 14px normal);
	@include size(auto, 52px);
	min-width: 157px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border: 0;
	@include set-colors(#fff, color(aqua));
	border-bottom: 4px solid darken(color(aqua), 12%);
	border-radius: 1px;
	@include prefix((
		transition: all .2s linear
		));

	&:hover{
		background-color: darken(color(aqua), 3%);
	}

	&:active{
		background-color: darken(color(aqua), 6%);
	}
}